@import "tailwindcss" source("../app");
@plugin "@egoist/tailwindcss-icons";
/**
  tailwindcss を利用しているサブモジュールにパスを通す
  FIXME: 相対パスではなくエイリアスで指定する方法を検討する
**/
@source "../../shadcn/__generated__/";
@import "../../shadcn/__generated__/shadcn.css";

@import "tw-animate-css";
@import "vanilla-calendar-pro/styles/index.css";
@import "@slickgrid-universal/common/dist/styles/css/slickgrid-theme-material.lite.css";
@import "@/components/datePicker/datePicker.css";
@import "@/components/grid/grid.css";

@layer base {
  html, body {
    @apply h-full m-0;
  }
  button,
  [role="button"] {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: default;
  }
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

:root {
  /** shadcn の警告色がこすぎるのでアプリ側で調整 */
  --destructive: oklch(0.62 0.1694 25.05);
}

.dark {
  /** shadcn の警告色がこすぎるのでアプリ側で調整 */
  --destructive: oklch(0.74 0.1563 21.56);
}

/** 使用するライブラリで入力フォームの動作に差異があるので、トップレベルで強制する */
input[type="text"], textarea {
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}
input[type="text"]:focus:not([aria-invalid="true"]), textarea:focus:not([aria-invalid="true"]) {
  box-shadow: 0 0 0 2.5px oklch(from var(--primary) l c h / .3) !important;
}
input[type="text"][aria-invalid="true"]:focus, textarea[aria-invalid="true"]:focus {
  box-shadow: 0 0 0 2.5px oklch(from var(--destructive) l c h / .4) !important;
}
